header{
  margin: 0 auto;
  padding: 10px 0 0 10px;
  background-color: #ABE1FA;
}

.container{
  max-width: 750px;
  margin: 0 auto;
  border: solid;
  border-width: 1px;
  border-color: black;
}

footer{
  margin: 0 auto;
  background-color: #ABE1FA;
}
