.header{
  margin: 0 auto;
  padding: 10px 0 0 10px;
  background-color: #ABE1FA;
}

.container{
  max-width: 750px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.timeline{
  width: 95%;
  height: 600px;
}

.timelineCategory{
  width: 95%;
  height: 200px;
}

.comments{
  padding: 10px;
  width: 95%;
  border: solid;
  height: 200px;
  border-radius: 8px;
}

.blank{
  height: 40px;
}

.footer{
  margin: 0 auto;
  background-color: #ABE1FA;
  text-align: center;
}
