header{
  margin: 0 auto;
  padding: 10px 0 0 10px;
  background-color: #ABE1FA;
}

.container{
  max-width: 750px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

footer{
  margin: 0 auto;
  background-color: #ABE1FA;
  text-align: center;
}
